/メイン画面のチャット部分
.chat-main__bulletin-board__messages__message
  .chat-main__bulletin-board__messages__message-name
    = Message.find(2).user.name
  .chat-main__bulletin-board__messages__message-date
    = Message.find(2).created_at.strftime("%Y/%m/%d %H:%M")
  .chat-main__bulletin-board__messages__message-text
    - if Message.find(2).content.present?
      = simple_format(Message.find(2).content)
    = image_tag Message.find(2).image.url, class: 'lower-message__image' if Message.find(2).image.present?
/ここまでが１メッセージ分　以降は適当にコピペしているだけ
/ .chat-main__bulletin-board__messages__message
/   .chat-main__bulletin-board__messages__message-name
/     Yuta
/   .chat-main__bulletin-board__messages__message-date
/     20018/12/24 01:00:00
/   .chat-main__bulletin-board__messages__message-text
/     ケーキ食ってます！！
/ .chat-main__bulletin-board__messages__message
/   .chat-main__bulletin-board__messages__message-name
/     Tac
/   .chat-main__bulletin-board__messages__message-date
/     20018/12/25 13:54:00
/   .chat-main__bulletin-board__messages__message-text
/     本日は晴天なれど波高し。
/     %br/
/     為せば成る。
/     %br/
/     為さねばならぬ、何事も。
/     %br/
/     成らぬは人の為さぬなりけり。
/     %br/
/ .chat-main__bulletin-board__messages__message
/   .chat-main__bulletin-board__messages__message-name
/     Tac
/   .chat-main__bulletin-board__messages__message-date
/     20019/03/22 08:00:00
/   .chat-main__bulletin-board__messages__message-text
/     卒業おめでとう！
