/画面左側のチャット部分
.chat-left__group-info__container
  - current_user.groups.each do |group|
    .chat-left__group-info__container-inner
      = link_to group_messages_path(group) do
        .chat-left__group-info__container__name
          = group.name
        .chat-left__group-info__container__text
          メッセージはまだありません
/ここまでが１メッセージ分　以降は適当にコピペ
/ .chat-left__group-info__container
/   %a{:href => "#"}
/     .chat-left__group-info__container__name
/       Aquq
/     .chat-left__group-info__container__text
/       一番盛り上がるのはNBLの最終戦ですよ〜
/ .chat-left__group-info__container
/   %a{:href => "#"}
/     .chat-left__group-info__container__name
/       yuta
/     .chat-left__group-info__container__text
/       ブレイクダンス！ブレイクダンス！ブレイクダンス！！ヤァ〜
