/画面左側のチャット部分
.chat-left__group-info__container
  = link_to root_path do
    .chat-left__group-info__container__name
      Tac
    .chat-left__group-info__container__text
      お正月の箱根駅伝が楽しみですね〜
/ここまでが１メッセージ分　以降は適当にコピペ
.chat-left__group-info__container
  %a{:href => "#"}
    .chat-left__group-info__container__name
      Aquq
    .chat-left__group-info__container__text
      一番盛り上がるのはNBLの最終戦ですよ〜
.chat-left__group-info__container
  %a{:href => "#"}
    .chat-left__group-info__container__name
      yuta
    .chat-left__group-info__container__text
      ブレイクダンス！ブレイクダンス！ブレイクダンス！！ヤァ〜
